
#one{
        list-style-type: none;
        margin: 0;
        padding: 8px;
        overflow: hidden;
        background-color: #333;
        height:62px
        
    } 
.cq1{
        float:left;
        margin-right:15px;
    }
.cq3{
        float:left;
    }
h2{
        margin:0px;
        padding:7.4px 0px;
        color:white
    }
.cq2{
        margin-left:12%;
        float:left;
        padding:10.6px 0px;

    }
.cq{
        float:left;
        margin-left:5%; 
        padding:10.6px 0px;
    }
.cq4{
        float:right;
        margin-right:3%;
        position:relative;
        left:0px;    

        padding:10.5px 0px;
        width:120px
    }

button{
        position: absolute;
        border:none;
        height:25px;
        width:90px;
        padding:0px;
        left:30px;
        color:white
    }
.cq5{
    float:right;
    margin-right:20px;
    padding:12.6px 0px;
    color:white;

    }
.cq6{
    float:left;
    margin-left:5%; 
    color:white;
    font-size:17px;
    padding:10.6px 0px;
}


