<div class="navigation">
    <div class="w1200 navigation-box">
        <div class="navigation-logo">
            <a routerLink='/platform'>
                <img width="346" height="42" src="../../assets/images/navigation-logo.png" alt="">
            </a>
        </div>
        <ul id="one" class="navigation-list">
            <li class="navigation-item"><a routerLink="/material">首页</a></li>
            <li class="navigation-item">
                <a [href]="toShouye" target="_blank">整车模型</a>
            </li>
            <li class="navigation-item">
                <a href="http://www.hgjt.cn/" target="_blank">联系我们</a></li>
            <li class="navigation-item">
                <!-- <a routerLink="/userManual">帮助</a> -->
                <!-- <a href="邯钢汽车用钢数据信息化平台使用手册.pdf">帮助</a> -->
                <a (click)="openPDF()">帮助</a>
            </li>
            <li class="navigation-item" *ngIf="system">
                <a target="_blank" (click)="checkToken()">系统管理</a>
                <!-- <ng-template #elseBlock><span>系统管理&nbsp;&nbsp;|</span></ng-template> -->
            </li>
            <li class="navigation-item">
                <img class="user" src=" ../../assets/images/user.png" alt="" />
                <a nz-dropdown [nzDropdownMenu]="menu">
                    {{userName}}
                    <i nz-icon nzType="down"></i>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <!-- <li nz-menu-item>
                            <a>个人信息</a>
                            </li>
                            <li nz-menu-item>
                            <a>修改密码</a>
                            </li> -->
                        <li nz-menu-item (click)="out()">退出登录</li>
                    </ul>
                </nz-dropdown-menu>
            </li>

        </ul>
    </div>
    <!-- 登录过期提示框 START -->
    <nz-modal [(nzVisible)]="isVisible" nzTitle="系统提示" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzOkText="重新登录">
        <p>登录状态已过期，您可以继续留在该页面，或者重新登录</p>
    </nz-modal>
    <!-- 登录过期提示框 START -->
</div>