#dataTable {
    position: absolute;
    left: 22%;
    top: 180px;
    width: 75%;
}

.buttonDownload {
    float: left;
    margin-right: 25px
}

.nz-row {
    text-align: center
}

.down {
    text-align: right;
    padding-right: 40px
}

.nz-row button {
    width: 90px;
    height: 25px;
}

.common input {
    width: 50%;
    /* position: absolute;
    right: 50px */
}

.common span {
    display: inline-block;
    width: 40px;
    text-align: right;
    /* position: absolute;
    right: 50px */
}

.one {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    background: linear-gradient( to right, transparent 0%, transparent 50%, #ccc 50%, #ccc 100%);
    background-size: 50px 1px;
    background-repeat: repeat-x;
}

.common>div {
    margin-top: 15px;
}

.span {
    display: inline-block;
    width: 0px
}