
<app-base-info [materialId]="materialId"></app-base-info>
<div id="dataTable">
<nz-upload
[nzCustomRequest]='customRequestOne'
[nzAction]="maUrl"
(nzChange)="handleChange($event)"        
[(nzFileList)]="nzFileList"

>
<button nz-button *ngIf="FormExperimentalItemComponent.button('uploadCard')"><i nz-icon nzType="upload" ></i>上传仿真卡片</button>
</nz-upload>
<h2 style="float:left;margin-top:20px">点击下载文件:</h2>
<div style="float:left;margin-left:25px;margin-top:10px">
    <ng-template ngFor let-data [ngForOf]="material" let-i="index">
  <div *ngIf="FormExperimentalItemComponent.button('downloadCard');else elseBlock"   style="margin-top:15px">
    <a
    nz-popconfirm
    nzPopconfirmTitle="是否下载文件?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="confirm(three[i],one[i])"
    (nzOnCancel)="cancel()"
    >
{{data}}</a>
</div>
<ng-template #elseBlock>{{data}}<br><br></ng-template>
    </ng-template>
<!-- <div *ngFor="let data of material;let i=index"   style="margin-top:15px">
    <a
    nz-popconfirm
    nzPopconfirmTitle="是否下载文件?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="confirm(one[i])"
    (nzOnCancel)="cancel()"
    >
{{data}}</a>
</div> -->
</div>
</div>