<div id="dataTable">
    <nz-table [nzData]=[{}] [nzFrontPagination]="false"  nzBordered id="table">
        <thead>
          <tr>
            <th nzWidth="130px" id="head">翻边等级</th>
            <th nzWidth="130px" id="head">执行标准</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.flangingLevel }}</td>
            <td id="he">{{ data.standard}}</td>
          </tr>
        </tbody>
      </nz-table><br><br><br>
      <div id="one">翻边后表面形貌</div><br><br><br>
</div>
