#dataTable{
    position: absolute;
    left:30%;
    top: 160px;
    width: auto;
    
}

#tableone{
    width:350px
}

#head{
    text-align:center;
}
#tabletwo{
    width:450px
}
#tables{width:200px}