<div id="dataTable">
    <nz-table [nzData]='trialDataDetail' [nzFrontPagination]="false" class="mt25" [nzScroll]="data.nzScroll" *ngFor="let data of table;let tableIdx=index" nzBordered [class]="tableIdx==0?'layout-fixed mt25':'mt25'" [nzLoading]="loading1">
        <thead>
            <tr>
                <th [nzWidth]="tableIdx ==0 && thIdx == 0||tableIdx ==0 && thIdx == 1||tableIdx ==0 &&thIdx ==2?'120px':'auto'" *ngFor="let data1 of data.one;let thIdx=index">{{data1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of trialDataDetail.slice(0,1)">
                <td [nzBreakWord]="tableIdx!==0" *ngFor="let data1 of data.key;let tdIdx = index" [class]="tableIdx ==0 && tdIdx == activeTdIdx ?tableCellCls :'ellipsis'" (click)="clickItem(tableIdx==0,tdIdx)">
                    {{ detail[data1]}}</td>
            </tr>
        </tbody>
    </nz-table>
    <nz-table class="mt25" nzBordered [nzData]='trialDataDetails' [nzFrontPagination]="false" [nzLoading]="loading2">
        <thead>
            <tr>
                <th *ngFor="let data1 of table1[0].one">{{data1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of trialDataDetails">
                <td *ngFor="let data1 of table1[0].key">{{detail[data1]}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>