<app-form-navigation></app-form-navigation>
<div class="w1200">

    <!--整车模块-->
    <div class="model-box">
        <div class="model-top">
            <div class="title">全部车型</div>

            <!-- <div class="rightsearch">
                <div id="search-box">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="搜索车型" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
            </div> -->

        </div>
        <nz-divider></nz-divider>
        <ul class="model-list">
            <li class="model-item">
                <a [href]="tojiaoche" target="_blank">
                    <img src="../../assets/images/jiaoche.png" alt="" width="159" height="105">
                    <div class="model-name">轿车</div>
                </a>
            </li>
            <li class="model-item">
                <a [href]="toSUV" target="_blank">
                    <img src="../../assets/images/suv.png" alt="" width="159" height="105">
                    <div class="model-name">SUV</div>
                </a>
            </li>
            <li class="model-item">
                <a [href]="toSY" target="_blank">
                    <img src="../../assets/images/shangyongche.png" alt="" width="159" height="105">
                    <div class="model-name">商用车</div>
                </a>
            </li>
            <!-- <li class="model-item">
                <a href="javascript:;">
                    <img src="../../assets/images/paoche.png" alt="" width="159" height="105">
                    <div class="model-name">跑车</div>
                </a>
            </li>
            <li class="model-item">
                <a href="javascript:;">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    <div class="model-name">添加车型</div>
                </a>
            </li> -->
        </ul>
        <!-- <ng-template #extraTemplate>
            <div class="rightsearch">

                <div id="text">
                    <a><img src="../../assets/images/add.png" alt="add"> 添加车型</a>
                </div>

                <div id="search-box">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="搜索车型" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>

            </div>
        </ng-template> -->
    </div>


    <!--材料库模块-->
    <div class="model-box mt25">
        <div class="model-top">
            <a class="title" routerLink="/material" id="cailiaoku">材料库
                <i nz-icon nzType="right" nzTheme="outline"></i></a>
        </div>
        <nz-divider></nz-divider>
        <div class="import-box">
            <!-- 导入数据  START -->
            <div class="import" *ngIf="button('hg-home-postData')">
                <button nz-button nzType="primary" nzShape="round" nzGhost (click)="showModal()">
                    <i class="icon-import"></i>
                    导入数据
                </button>
                <nz-modal [(nzVisible)]="isVisible" nzTitle="导入数据" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzMaskClosable=false [nzFooter]=null>
                    <div id="text-xzwj">
                        <br /> 选择文件:
                        <nz-upload nzAction="/api/hangang/material/autoAddTestItem" nzDirectory='true' [nzCustomRequest]="customReqone" [nzFileList]="FileList" (nzChange)="handleChange($event)">
                            <button nz-button><i nz-icon nzType="upload"></i><span>选择要上传的文件</span></button>
                        </nz-upload>
                    </div>
                </nz-modal>
            </div>
            <!-- 导入数据  END -->

            <!-- 添加材料  START -->
            <div class="import" *ngIf="button('hg-home-addtj')">
                <button nz-button nzType="primary" nzShape="round" nzGhost (click)="showModal1()">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    添加推荐材料
                </button>
                <nz-modal [(nzVisible)]="isVisible1" nzTitle="添加推荐材料" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzMaskClosable=false>
                    <nz-cascader [nzOptions]="nzOptions" [(ngModel)]="values" (ngModelChange)="onChanges($event)" nzPlaceHolder="添加推荐材料"></nz-cascader>
                    <nz-upload [nzAction]="maUrl" [nzCustomRequest]="customReq" (nzChange)="handleChange1($event)" [nzFileList]="FileList" [nzBeforeUpload]="FormAddCarComponent.beforeUpload1">
                        &nbsp;&nbsp;&nbsp; <button nz-button *ngIf="showi"><i nz-icon
                                nzType="upload"></i>上传材料图片</button>
                    </nz-upload>
                </nz-modal>
            </div>
            <!-- 添加材料  END -->

            <!-- 删除推荐材料 START -->
            <!-- <div id="import" *ngIf="FormExperimentalItemComponent.button('deletetj')">
                <span>删除推荐材料</span> &nbsp;
                <nz-switch [(ngModel)]="showcan"></nz-switch>
            </div> -->
            <!-- 删除推荐材料 START -->
        </div>

        <!-- 材料列表 START -->
        <div class="model-list">
            <div class="material-item" *ngFor="let material of addlist">
                <div class="material-delete" (click)="shanchutj(material.id)" *ngIf="button('hg-home-deletetj')">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                </div>
                <div (click)="nav(material.materialId,material)">

                    <a class="material-pic">
                        <img [src]="material.avatarUrl" />
                    </a>
                    <div class="material-info">
                        <h4> {{material.name}}</h4>
                        <div class="ellipsis" [title]='material.manufactory'>
                            生产厂家: {{material.manufactory}}
                        </div> 型号规格: {{material.model}}<br /> 卷号:{{material.reelNumber}}
                    </div>
                </div>
            </div>
        </div>
        <!-- 材料列表 START -->
    </div>

</div>