<div class="dataTable">
    <nz-table class="mt25 layout-fixed" [nzData]=[{}] [nzFrontPagination]="false" nzBordered
        [nzScroll]="{x: '1200px' }">
        <thead>
            <tr>
                <th [nzWidth]="thIdx == 0||thIdx == 1 ||thIdx ==2?'110px':'200px'"
                    *ngFor="let data of table[0].one;let thIdx=index">{{data}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let data of table[0].key;let tdIdx = index"
                    [class]="tdIdx == activeTdIdx ?tableCellCls :'ellipsis'" (click)="clickItem(tdIdx)">
                    {{trialDataDetail[0]?trialDataDetail[0][data]:''}}</td>
            </tr>
        </tbody>
    </nz-table>

    <nz-table class="mt25" [nzData]=[{}] [nzFrontPagination]="false" nzBordered>
        <thead>
            <tr>
                <th nzWidth="110px" *ngFor="let data of table[1].one ">{{data}}</th>
                <th nzWidth="100px">SWET(℃)</th>
                <th nzWidth="120px" *ngFor="let data1 of serials">{{data1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of serialss;let i=index">
                <td>{{ serialsss[i] }}</td>
                <td [attr.rowspan]="i === 0 ? serialss.length : 1" *ngIf="i==0">{{ trialDataDetails[0]?.swet }}</td>
                <td *ngFor="let data1 of detail">{{ data1?.expansionType }}</td>
            </tr>
        </tbody>
    </nz-table>
</div>