#dataTable{
    position: absolute;
    left:30%;
    top: 160px;
    width: auto;
    
}

#head{
    text-align:center;
    background-color:rgba(107, 152, 248, 0.959);
    color:white
}
#table{
    width:910px
}
#tabletwo{width:200px}