

<nz-table
#rowSelectionTable
nzShowSizeChanger  
[nzData]="listOfAllData"
(nzCurrentPageDataChange)="currentPageDataChange($event)"  [nzShowSizeChanger]=false
>
<thead>
  <tr>
    <th nzWidth="7%"
    nzShowCheckbox
      [nzSelections]="listOfSelection"
      [(nzChecked)]="isAllDisplayDataChecked"
      [nzIndeterminate]="isIndeterminate"
      (nzCheckedChange)="checkAll($event)"
    ></th>
    <th nzWidth="14%">材料名称</th>
    <th nzWidth="14%"><a routerLink="/factory">生产厂家</a></th>
    <th nzWidth="10%">厚度</th>
    <th nzWidth="14%"><a routerLink="/typicalpart">典型零件</a></th>
    <th nzWidth="12%">应用车型</th>
    <th nzWidth="20%">送样日期</th>
    <th nzWidth="7%" nzRight="0px">操作</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of rowSelectionTable.data">
    <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
    <td >{{ data.name }}</td>
    <td >{{ data.manufacture }}</td>
    <td >{{ data.thickness }}</td>
    <td >{{ data.typicalPart }}</td>
    <td >{{ data.appVehicle }}</td>
    <td >{{ data.date }}</td>
    <td ><a [routerLink]="['/display-home', data.materialId]">查看</a></td>
  </tr>
</tbody>
</nz-table>
  