
  <form nz-form nzLayout="inline" class="components-table-demo-control-bar">
  <nz-form-item>
  <nz-form-label><label >开始对比</label></nz-form-label>
  <nz-form-control><nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch></nz-form-control>            
</nz-form-item>
</form>

<nz-table
#rowSelectionTable
[nzData]="listOfAllData"
(nzCurrentPageDataChange)="currentPageDataChange($event)"  [nzShowSizeChanger]=false
>
<thead>
  <tr >
    <th nzWidth="4%"
    nzShowCheckbox
    *ngIf="checkbox"
    [(nzChecked)]="allChecked"
    [nzIndeterminate]="indeterminate"
    (nzCheckedChange)="checkAll($event)"
      class="head"></th>
    <th nzWidth="11%" class="head" ><a routerLink="/materialss" class="head1">材料名称</a></th>
    <th nzWidth="10%" class="head"><a routerLink="/factory" class="head1">生产厂家</a></th>
    <th nzWidth="10%" class="head">型号规格</th>
    <th nzWidth="10%" class="head">屈服强度</th>
    <th nzWidth="14%" class="head"><a routerLink="/typicalpart" class="head1">典型零件</a></th>
    <th nzWidth="13%" class="head">应用车型</th>
    <th nzWidth="19%" class="head">送样日期</th>
    <th nzWidth="7%" class="head">操作</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of rowSelectionTable.data" >
    <td nzShowCheckbox *ngIf="checkbox" [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()" id="he" name="chk"
    ></td>
    <td id="he" >{{ data.name }}</td>
    <td id="he" >{{ data.manufacture }}</td>
    <td id="he" >{{ data.thickness }}</td>
    <td id="he">{{ data.strength }}</td>
    <td id="he">{{ data.typicalPart }}</td>
    <td id="he">{{ data.appVehicle }}</td>
    <td id="he">{{ data.date }}</td>
    <td id="he"><a [routerLink]="['/display', data.materialId]">查看</a></td>
  </tr>
</tbody>
</nz-table>
<div id="xfk">
  <ul *ngIf="checkbox" >
    <li *ngFor="let data of checkList" ><span class="lt">{{ data.name }}</span><span class="lt">{{ data.manufacture }}</span>
      <span class="lt">{{ data.thickness }}</span><i nz-icon nzType="close" nzTheme="outline" (click)="shanchu(data.materialId)"></i></li>
  </ul>
  <a routerLink="/contrast">
    <button nz-button nzType="primary" *ngIf="checkbox"> 开始对比</button>
  </a> 
</div>