<div id="dataTable" >
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabless"  nzBordered>
    <thead >
      <tr>
        <th  id="head" nzWidth="200px">执行标准</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td id="he">{{trialDataDetail[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br><br><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">样件编号</th>
            <th nzWidth="150px" id="head">样品长度</th>
            <th nzWidth="150px" id="head">试样宽度</th>
            <th nzWidth="150px" id="head">胶结宽度b(mm)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.sampleCode }}</td>
            <td id="he">{{ data.length }}</td>
            <td id="he">{{ data.width }}</td>
            <td id="he">{{ data.cementingWidth }}</td>
          </tr>
        </tbody>
      </nz-table><br><br><br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tableone" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">样件编号</th>
            <th nzWidth="150px" id="head">剪切强度Rp(MPa)</th>
            <th nzWidth="150px" id="head">失效模式</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.sampleCode }}</td>
            <td id="he">{{ data.mpa }}</td>
            <td id="he">{{ data.failureMode }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>
