<div id="dataTable">
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table" nzBordered>
        <thead>
          <tr>
            <th  nzWidth="150px" id="head">循环应力比</th>
            <th  nzWidth="150px" id="head">是否使用引伸计</th>
            <th  nzWidth="150px" id="head">引伸计规格</th>
            <th  nzWidth="150px" id="head">表面质量</th>
            <th nzWidth="120px" id="head">执行标准</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.cyclicStressRatio }}</td>
            <td id="he">{{ data.useExtensometer }}</td>
            <td id="he">{{ data.extensometerGaugeDistance }}</td>
            <td id="he">{{ data.surfaceQuality }}</td>
            <td id="he">{{ data.standard}}</td>
          </tr>
        </tbody>        
      </nz-table> <br> <br> <br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tableone" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">序号</th>
            <th nzWidth="150px" id="head">样件编号</th>
            <th nzWidth="150px" id="head">最大应力/MPa</th>
            <th nzWidth="150px" id="head">应力幅/MPa</th>
            <th nzWidth="150px" id="head">循环次数/周次</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetails" >
            <td id="he">{{ data.serialNumber }}</td>
            <td id="he">{{ data.sampleCode }}</td>
            <td id="he">{{ data.maximumStress}}</td>
            <td id="he">{{ data.stressAmplitude}}</td>
            <td id="he">{{ data.testFrequency}}</td>
          </tr>
        </tbody>        
      </nz-table> <br> <br> <br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tableone" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">参数a</th>
            <th nzWidth="150px" id="head">参数b</th>
            <th nzWidth="150px" id="head">相关系数</th>
            <th nzWidth="150px" id="head">疲劳极限/MPa</th>
            <th nzWidth="150px" id="head">标准偏差/MPa</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.sNAParameter }}</td>
            <td id="he">{{ data.sNBParameter }}</td>
            <td id="he">{{ data.sNRelatedParameter}}</td>
            <td id="he">{{ data.fatigueLimitStrength}}</td>
            <td id="he">{{ data.standardDeviation}}</td>
          </tr>
        </tbody>        
      </nz-table> 
</div>

