<app-form-material-db-background></app-form-material-db-background>

<div id="materialType">
    <div class="material-class" *ngFor="let item of materialType; index as typeIndex">
        <h4 class="class-name">{{item.name}}</h4>
        <div class="tag-area" *ngFor="let childItem of item.children">
            <span class="tag" (click)="filtrationMaterialType(childItem)">{{childItem.name}}</span>
        </div>
    </div>
</div>




<div id="limit">
    <div class="row">
        生产厂家 :
        <span *ngFor="let item of listManufacturers">
            <span class="limit-tag" (click)="filtrationManufacturers(item) "> {{item.name}} </span>
        </span>
    </div>

    <hr />

    <div class="row">
        型号规格 :
        <span *ngFor="let item of listModel">
            <span class="limit-tag" (click)=" filtrationModel(item) "> {{item.value}} mm </span>
        </span>
        <span class="limit-tag"><input class="input-box" type="text" [(ngModel)]='params.minModel'
                (blur)="filtrationMinModel($event)" >~<input
                class="input-box" type="text" [(ngModel)]='maxModel'>mm</span>
    </div>

    <hr />

    <div class="row">
        材料强度 :
        <span *ngFor="let item of listStrength">
            <span class="limit-tag" (click)="filtrationStrength(item) "> {{item.value}} </span>
        </span>
        <span class="limit-tag"><input class="input-box" type="text">~<input class="input-box" type="text">MPa</span>
    </div>

    <hr />

    <button id="clear-btn" (click)="clear()">清除筛选</button>

</div>




<div id="list">

    <div id="title">
        <h3 id="cllb"> <strong>材料列表</strong></h3>

        <a routerLink="/material-floating-box">
            <div class="text">添加材料对比</div>
        </a>

        <div class="image"><img src="../../assets/images/add.png" alt=""></div>

        <div class="text">批量导出</div>

        <div class="image"><img src="../../assets/images/export.png" alt=""></div>

    </div>

    <hr class="solid-hr" />

    <div id="table">
        <app-form-material-list [data]="material"></app-form-material-list>
    </div>

</div>