<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tableone" nzBordered>
    <thead>
      <tr>
        <th  id="head">取样方向</th>
      </tr>
    </thead>
    <tbody id="head">
      <tr *ngFor="let data of trialDataDetail" >
        <td>{{ data.direction}}</td>
      </tr>
    </tbody>        
  </nz-table>
        <br><br>
        <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabletwo" nzBordered>
          <thead>
            <tr>
              <th nzWidth="100px" id="head">序号</th>
              <th nzWidth="100px" id="head">测试指标</th>
              <th nzWidth="100px" id="head">测试编号</th>
              <th nzWidth="120px" id="head">样品真实厚度t/mm</th>
              <th nzWidth="120px" id="head">标距段宽度w/mm</th>
              <th nzWidth="120px" id="head">屈服强度(MPa)</th>
              <th nzWidth="120px" id="head">抗拉强度(MPa)</th>
              <th nzWidth="120px" id="head">断后伸长率(%)</th>
              <th  nzWidth="100px" id="head">拉伸速度(m/s)</th>
            </tr>
          </thead>
          <tbody id="head">
            <tr *ngFor="let data of trialDataDetail" >
              <td>{{ data.serialNumber }}</td>
              <td>{{ data.testTarget }}</td>
              <td>{{ data.sampleCode }}</td>
              <td>{{ data.thickness }}</td>
              <td>{{ data.gaugeDistance }}</td>
              <td>{{ data.yieldStrength }}</td>
              <td>{{ data.tensileStrength }}</td>
              <td>{{ data.elongation }}</td>
              <td>{{ data.stretchingSpeed}}</td>
            </tr>
          </tbody>        
        </nz-table> <br><br><br>
        <br>
        <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table" nzBordered>
          <thead>
            <tr>
              <th nzWidth="100px" id="head">序号</th>
              <th nzWidth="140px" id="head">工程应力</th>
              <th nzWidth="140px" id="head">工程应变</th>
              <th nzWidth="140px" id="head">真应力</th>
              <th nzWidth="140px" id="head">真应变</th>
              <th nzWidth="140px" id="head">真塑性应力</th>
              <th nzWidth="140px" id="head">真塑性应变</th>
            </tr>
          </thead>
          <tbody id="head">
            <tr *ngFor="let data of trialDataDetails" >
              <td>{{ data.serialNumber }}</td>
              <td>{{ data.engineeringStress }}</td>
              <td>{{ data.engineeringStrain }}</td>
              <td>{{ data.realStress  }}</td>
              <td>{{ data.realStrain }}</td>
              <td>{{ data.realPlasticStress }}</td>
              <td>{{ data.realPlasticStrain }}</td>
            </tr>
          </tbody>        
        </nz-table> 
  </div>
