<div class="dataTable">
    <nz-table [nzData]='trialDataDetail' class="mt25 layout-fixed" [nzFrontPagination]="false" nzBordered [nzLoading]="loading">
        <thead>
            <tr>
                <th [nzWidth]="width1[thIdx]" *ngFor="let data1 of  table1;let thIdx=index">{{data1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of one.slice(0,1)">
                <td *ngFor="let data6 of  table6;let tdIdx = index" [class]=" tdIdx == activeTdIdx ?tableCellCls :'ellipsis'" (click)="clickItem(true,tdIdx)">
                    {{detail[data6]}}
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-table [nzData]='two' [nzFrontPagination]="false" class="mt25" nzBordered [nzLoading]="loading">
        <thead>
            <tr>
                <th *ngFor="let data2 of  table2;let i = index" [nzWidth]="width2[i]">{{data2}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of  two;index as i">
                <td [attr.rowspan]="i === 0 ? two.length : 1" *ngIf="i==0">{{ mater }}</td>
                <td *ngFor="let data3 of  table3">{{ detail[data3] }}</td>
            </tr>
        </tbody>
    </nz-table>
    <nz-table [nzData]='trialDataDetail' [nzFrontPagination]="false" [nzScroll]="{ x: '1130px',y: '800px' }" class="mt25" nzBordered [nzLoading]="loading">
        <thead>
            <tr>
                <th [nzWidth]="width[i]" *ngFor="let data4 of  table4;let i=index">
                    <span *ngIf="('sampleCode,testTarget,thickness,gaugeDistance').indexOf(table5[i]) == -1; else other_content">
                        <span nz-tooltip [nzTooltipTitle]="titleTemplate">{{data4}}</span>
                    <ng-template #titleTemplate>
                        <a (click)="contrastTable(table5[i], data4)">对比</a>
                            </ng-template>
                            </span>
                            <ng-template #other_content><span #other_content>{{data4}}</span></ng-template>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let details of one">
                <td *ngFor="let data5 of  table5">{{details[data5]}}</td>
            </tr>
        </tbody>
    </nz-table>
    <!-- 真塑性应变真应力未延伸到1 START-->
    <nz-table [nzData]='strainData' [nzFrontPagination]="false" [nzScroll]="{ x: (speeds.length * 110 + 130) + 'px' ,y: '800px'}" class='tablebox mt25' nzBordered [nzWidthConfig]='nzWidthConfig4' [nzLoading]="loadings">
        <thead>
            <tr>
                <th rowspan="2">True plastic strain</th>
                <th [attr.colspan]="speeds.length">True stress/Mpa</th>
            </tr>
            <tr>
                <th *ngFor="let data5 of  speeds">{{data5}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let details of strainData;let i=index">
                <td nzBreakWord>{{details}}</td>
                <td *ngFor="let data of stress[i];let b=index">{{data}}</td>
            </tr>
        </tbody>
    </nz-table>
    <!-- 真塑性应变真应力 END-->
</div>
<app-line-chart [isVisible]='isVisible' [options]="options" (isShow)="changeisVisible()"></app-line-chart>