<div class="dataTable">
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" [nzScroll]="{x: '1400px'}" nzBordered>
        <thead>
            <tr>
                <th nzWidth="200px" *ngFor="let data1 of  table1">{{data1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let data6 of  table6">{{one[0]?one[0][data6]:''}}</td>
            </tr>
        </tbody>
    </nz-table>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" style="margin-top:30px" nzBordered>
        <thead>
            <tr>
                <th nzWidth="150px" *ngFor="let data2 of  table2">{{data2}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of  two;index as i">
                <td [attr.rowspan]="i === 0 ? two.length : 1" *ngIf="i==0">{{ mater[0] }}</td>
                <td *ngFor="let data3 of  table3">{{ detail[data3] }}</td>
            </tr>
        </tbody>
    </nz-table>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" [nzScroll]="{ x: '1320px',y: '700px' }" style="margin-top:30px"
        nzBordered>
        <thead>
            <tr>
                <th [nzWidth]="width[i]" class="one" *ngFor="let data4 of  table4;let i=index">
                    <span
                        *ngIf="('sampleCode,testTarget,thickness,gaugeDistance').indexOf(table5[i]) == -1; else other_content">
                        <span nz-tooltip [nzTooltipTitle]="titleTemplate">{{data4}}</span>
                        <ng-template #titleTemplate>

                            <a (click)="contrastTable(table5[i], data4,one)">对比</a>
                        </ng-template>
                    </span>
                    <ng-template #other_content><span #other_content>{{data4}}</span></ng-template>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let details of one">
                <td *ngFor="let data5 of  table5">{{details[data5]}}</td>
            </tr>
        </tbody>
    </nz-table>

    <nz-table [nzData]=[{}] [nzFrontPagination]="false" style="margin-top:30px;margin-bottom:30px"
        [nzScroll]="nzScrolls" class='tablebox' nzBordered [nzWidthConfig]='nzWidthConfig4'>
        <thead>
            <tr>
                <th rowspan="2" nzBreakWord>True plastic strain</th>
                <th class="one" [attr.colspan]="speeds.length" nzBreakWord>True stress/Mpa</th>
            </tr>
            <tr>
                <th *ngFor="let data5 of  speeds" nzBreakWord>{{data5}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let details of strainData;let i=index">
                <td nzBreakWord>{{details}}</td>
                <td *ngFor="let data of stress[i];let b=index" nzBreakWord>{{data}}</td>
            </tr>
        </tbody>
    </nz-table>


</div>
<nz-modal [(nzVisible)]="isVisible.isVisible"  nzTitle="对比"  (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">

    <div       echarts       [options]="options.options"       style="height: 400px;position: relative;"     ></div>
</nz-modal>