<div id="dataTable">
    <!-- 基本信息 -->
    <nz-table [nzData]="trialDataDetail" [nzFrontPagination]="false" class="mt25 layout-fixed" nzBordered [nzLoading]="loading">
        <thead>
            <tr>
                <th [nzWidth]="thIdx == 0|| thIdx == 1||thIdx ==2?'120px':'auto'" *ngFor="let data1 of table1;let thIdx = index">{{data1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of trialDataDetail.slice(0,1)">
                <td *ngFor="let data5 of table5;let tdIdx=index" [class]="tdIdx == activeTdIdx ?tableCellCls :'ellipsis'" (click)="clickItem(tdIdx)">{{detail[data5]}}</td>
            </tr>
        </tbody>
    </nz-table>
    <nz-table [nzData]=trialDataDetail [nzFrontPagination]="false" class="mt25" nzBordered [nzLoading]="loading">
        <thead>
            <tr>
                <th [nzWidth]="table4[i]" *ngFor="let data2 of table2;let i=index">
                    <span *ngIf="('sampleCode,width,thickness,diameter,length,span').indexOf(table3[i]) == -1; else other_content">
                      <span nz-tooltip [nzTooltipTitle]="titleTemplate"> {{ data2 }} </span>
                    <ng-template #titleTemplate>
                        <a (click)="contrastTable(table3[i], data2)">对比</a>
                    </ng-template>
                    </span>
                    <ng-template #other_content><span #other_content> {{data2}} </span> </ng-template>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of trialDataDetail">
                <td *ngFor="let data3 of table3">{{detail[data3]}}</td>
            </tr>
        </tbody>
    </nz-table>

</div>
<app-line-chart [isVisible]='isVisible' [options]="options" (isShow)="changeisVisible()"></app-line-chart>