<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabless"  nzBordered>
    <thead >
      <tr>
        <th  id="head" nzWidth="200px">执行标准</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td id="he">{{trialDataDetail[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br><br><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">样件编号</th>
            <th nzWidth="150px" id="head">抗弯强度</th>
            <th nzWidth="190px" id="head">规定非比例弯曲强度</th>
            <th nzWidth="150px" id="head">弯曲弹性模量</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.sampleCode }}</td>
            <td id="he">{{ data.bendingStrength }}</td>
            <td id="he">{{ data.nonProportionalBendingStrenth }}</td>
            <td id="he">{{ data.bendingOfElasticity }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>