#dataTable{
    position: absolute;
    left:30%;
    top: 160px;
    width: auto;
    
}
#table{
    width:680px
}
#tableone{
    width:870px
}

#head{
    text-align:center;
}
#tabletwo{width:420px}