.dataTable thead th {
  background-color: #f4f4f4;
  color: #666;
  padding: 8px 0;
}

.dataTable.ant-table-thead>tr>th {
  text-align: center;
}

.dataTable tbody td {
  text-align: center;
  padding: 8px 0;
}

.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
  background: white;
}

#one .one /deep/.ng-star-inserted>span {
  display: block;
  /* padding-top: 30px;
     padding-bottom: 30px;
     height:23px; */
  height: 41.6px;
  /* padding-top: 10px;
     padding-bottom: 10px; */
  /* line-height:41.6px; */
  text-align: center;
}

#one .one /deep/ .ant-table-header-column {
  height: 41.6px;
}


/* #one .one /deep/.ng-star-inserted{
    height:unset;
} */

nz-modal /deep/ .ant-modal-content {
  width: 600px
}

.echarts-box {
  height: 400px;
  position: relative;
}

.ant-table-wrapper::after {
  clear: none !important;
}
