<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabless"  nzBordered>
    <thead >
      <tr>
        <th  id="head" nzWidth="200px">执行标准</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td id="he">{{trialDataDetail[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br>
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tableone"  nzBordered>
      <thead >
        <tr>
          <th nzWidth="130px" id="head">样件编号</th>
          <th nzWidth="100px" id="head">标距</th>
          <th nzWidth="130px" id="head">引伸计标距</th>
          <th nzWidth="180px" id="head">规定非比例延伸率</th>
          <th nzWidth="100px" id="head">试样直径(mm)</th>
          <th nzWidth="100px" id="head">试样厚度a(mm)</th>
          <th  id="head" nzWidth="100px">试样宽度b(mm)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of trialDataDetail" >
          <td id="he">{{ data.sampleCode }}</td>
          <td id="he">{{ data.gaugeDistance }}</td>
          <td id="he">{{ data.diameter }}</td>
          <td id="he">{{ data.nonProportionalExtendRatio }}</td>
          <td id="he">{{ data.diameter }}</td>
          <td id="he">{{ data.thickness }}</td>
          <td id="he">{{ data.width }}</td>
        </tr>
      </tbody>
  </nz-table><br><br><br><br>
<nz-table [nzData]=[{}] [nzFrontPagination]="false"  nzBordered id="table">
<thead >
          <tr>
            <th nzWidth="130px" id="head">样件编号</th>
            <th nzWidth="110px" id="head">屈服强度Rp(MPa)</th>
            <th nzWidth="110px" id="head">抗拉强度Rm(MPa)</th>
            <th nzWidth="110px" id="head">应变硬化指数(n)</th>
            <th nzWidth="110px" id="head">断后伸长率A(％)</th>
            <th nzWidth="110px" id="head">塑性应变比γ(%)</th>
            <th nzWidth="110px" id="head">弹性模量E(MPa)</th>
            <th nzWidth="90px" id="head">泊松比μ</th>
            <th id="head" nzWidth="90px">最大力Fm(kN)</th>
          </tr>
        </thead>
      <tbody >
        <tr *ngFor="let data of trialDataDetail" >
          <td id="he">{{ data.sampleCode }}</td>
          <td id="he">{{ data.yieldStrength }}</td>
          <td id="he">{{ data.tensileStrength }}</td>
          <td id="he">{{ data.strainHardening }}</td>
          <td id="he">{{ data.elongation }}</td>
          <td id="he">{{ data.plasticStrainRatio }}</td>
          <td id="he">{{ data.modulusOfElasticity }}</td>
          <td id="he">{{ data.poissonRatio }}</td>
          <td id="he">{{ data.maximumForce }}</td>
        </tr>
      </tbody>
    </nz-table>
</div>
