<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabless"  nzBordered>
    <thead >
      <tr>
        <th  id="head" nzWidth="200px">执行标准</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td id="he">{{trialDataDetail[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br>
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tableone"  nzBordered>
      <thead >
        <tr>
          <th nzWidth="130px" id="head">样件编号</th>
          <th nzWidth="100px" id="head">标距</th>
          <th nzWidth="130px" id="head">引伸计标距</th>
          <th nzWidth="180px" id="head">规定非比例延伸率</th>
          <th nzWidth="100px" id="head">试样直径(mm)</th>
          <th nzWidth="100px" id="head">试样厚度a(mm)</th>
          <th  id="head" nzWidth="100px">试样宽度b(mm)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of trialDataDetail" >
          <td id="he">{{ data.sampleCode }}</td>
          <td id="he">{{ data.gaugeDistance }}</td>
          <td id="he">{{ data.diameter }}</td>
          <td id="he">{{ data.nonProportionalExtendRatio }}</td>
          <td id="he">{{ data.diameter }}</td>
          <td id="he">{{ data.thickness }}</td>
          <td id="he">{{ data.width }}</td>
        </tr>
      </tbody>
  </nz-table><br><br><br><br>
<nz-table [nzData]=[{}] [nzFrontPagination]="false"  nzBordered id="table">
<thead >
          <tr>
            <th nzWidth="130px" id="head">样件编号</th>
            <th nzWidth="110px" id="head">屈服强度Rp(MPa)</th>
            <th nzWidth="110px" id="head">抗拉强度Rm(MPa)</th>
            <th nzWidth="110px" id="head">应变硬化指数(n)</th>
            <th nzWidth="110px" id="head">断后伸长率A(％)</th>
            <th nzWidth="110px" id="head">塑性应变比γ(%)</th>
            <th nzWidth="110px" id="head">弹性模量E(MPa)</th>
            <th nzWidth="90px" id="head">泊松比μ</th>
            <th id="head" nzWidth="90px">最大力Fm(kN)</th>
          </tr>
        </thead>
      <tbody >
        <tr *ngFor="let data of trialDataDetail" >
          <td id="he">{{ data.sampleCode }}</td>
          <td id="he">{{ data.yieldStrength }}</td>
          <td id="he">{{ data.tensileStrength }}</td>
          <td id="he">{{ data.strainHardening }}</td>
          <td id="he">{{ data.elongation }}</td>
          <td id="he">{{ data.plasticStrainRatio }}</td>
          <td id="he">{{ data.modulusOfElasticity }}</td>
          <td id="he">{{ data.poissonRatio }}</td>
          <td id="he">{{ data.maximumForce }}</td>
        </tr>
      </tbody>
    </nz-table>
</div>

<div id="dataImport">
    <button nz-button nzType="primary" (click)="open()" id="drawerBtn">添加数据</button>
    <nz-drawer
      [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
      [nzWidth]="720"
      [nzVisible]="visible"
      nzTitle="添加试验数据"
      (nzOnClose)="close()"
    >
      <form nz-form>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>执行标准</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]='postParams.standard' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>序号</nz-form-label>
                <nz-form-control>
                  <input [(ngModel)]='postParams.serialNumber' [ngModelOptions]="{standalone: true}" nz-input placeholder="please enter " />
                </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
              <nz-form-item>
                  <nz-form-label>样件编号</nz-form-label>
                  <nz-form-control>
                    <input nz-input [(ngModel)]='postParams.sampleCode' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                  </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
              <nz-form-item>
                  <nz-form-label>长度</nz-form-label>
                  <nz-form-control>
                    <input nz-input [(ngModel)]='postParams.length' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                  </nz-form-control>
              </nz-form-item>
          </div>
        </div>
    <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>宽度</nz-form-label>
                <nz-form-control>
                  <input nz-input [(ngModel)]='postParams.width' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>厚度</nz-form-label>
                <nz-form-control>
                  <input nz-input [(ngModel)]='postParams.thickness' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                </nz-form-control>
            </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
              <nz-form-item>
                  <nz-form-label>直径</nz-form-label>
                  <nz-form-control>
                    <input nz-input [(ngModel)]='postParams.diameter' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                  </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
              <nz-form-item>
                  <nz-form-label>引伸计标距</nz-form-label>
                  <nz-form-control>
                    <input nz-input [(ngModel)]='postParams.gaugeDistance' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                  </nz-form-control>
              </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>规定非比例延伸率</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]='postParams.nonProportionalExtendRatio' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>屈服强度Rp(MPa)</nz-form-label>
                <nz-form-control>
                  <input nz-input [(ngModel)]='postParams.yieldStrength' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label>抗拉强度Rm(MPa)</nz-form-label>
                    <nz-form-control>
                      <input nz-input [(ngModel)]='postParams.tensileStrength' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label>应变硬化指数(n)</nz-form-label>
                    <nz-form-control>
                      <input nz-input [(ngModel)]='postParams.strainHardening' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                    </nz-form-control>
                </nz-form-item>
            </div>
          </div>
          <div nz-row nzGutter="8">
              <div nz-col nzSpan="12">
                  <nz-form-item>
                      <nz-form-label>断后伸长率A(％)</nz-form-label>
                      <nz-form-control>
                        <input nz-input [(ngModel)]='postParams.elongation' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                      </nz-form-control>
                  </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                  <nz-form-item>
                      <nz-form-label>塑性应变比γ(%)</nz-form-label>
                      <nz-form-control>
                        <input nz-input [(ngModel)]='postParams.plasticStrainRatio' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                      </nz-form-control>
                  </nz-form-item>
              </div>
            </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>弹性模量E(MPa)</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]='postParams.modulusOfElasticity' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>泊松比μ</nz-form-label>
                <nz-form-control>
                  <input nz-input [(ngModel)]='postParams.poissonRatio' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>最大力Fm(kN)</nz-form-label>
                <nz-form-control>
                  <input nz-input [(ngModel)]='postParams.maximumForce' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        
       
      </form>
      <div class="footer">
        <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>取消</span></button>
        <button type="button" (click)="PostTrialDataDetails()" class="ant-btn ant-btn-primary"><span>添加</span></button>
      </div>
    </nz-drawer>
  
</div>
