<app-base-info [materialId]="materialId"></app-base-info>
<div id="dataTable">

<h2 >简况:</h2>
<p>{{breif}}</p>
<h2 >供货零件名称:</h2>
<p>{{suppliedPart}}</p>
<h2 >要求:</h2>
<p>{{requirement}}</p>
<div id="c" *ngFor="let data of ImgPathOne;let i=index">
  <h1>{{this.arr1[i]}}</h1>
  <img class="img"  alt="" height="300" width="300" [src]="data"> 
</div>
<div id="pdf1" style="height:1500px;clear:both" *ngIf='file'>
</div>

<a
nz-popconfirm
nzPopconfirmTitle="确定删除此车型?"
nzPopconfirmPlacement="bottom"
(nzOnConfirm)="confirm()"
(nzOnCancel)="cancel()"
>删除</a>
<div  (click)='bianji()' style="clear:both">编辑</div>
<app-form-modify-car *ngIf="isVisible"
[isVisible]='isVisible' [car]="car"  [form] ='form' (outer)="getCar()"  (outer1)="getshow($event)"></app-form-modify-car>
</div>