<app-base-info [materialId]="materialId"></app-base-info>
<div class="apply-box">
    <button nz-button nzType="primary" (click)='showModalde()' class="apply-button-red"
        *ngIf="FormExperimentalItemComponent.button('delete')"><i nz-icon nzType="delete"
            nzTheme="outline"></i>删除</button>

    <button class="apply-button-green" nz-button nzType="primary" (click)='bianji()'
        *ngIf="FormExperimentalItemComponent.button('put')"><i nz-icon nzType="edit" nzTheme="outline"></i>修改</button>

    <button class="apply-button-yellow" nz-button nzType="primary" (click)="showModal()" style=""
        *ngIf="FormExperimentalItemComponent.button('out')"><i nz-icon nzType="vertical-align-bottom"
            nzTheme="outline"></i>导出</button>
    <h2>简况:</h2>
    <p>{{breif}}</p>
    <h2>供货零件名称:</h2>
    <p>{{suppliedPart}}</p>
    <h2>要求:</h2>
    <p>{{requirement}}</p>
    <div class="all-box">
        <div class="all-item" *ngFor="let data of ImgPathOne;let i=index">
            <h2>{{three[i]}}</h2>
            <div class="img">
                <img alt="" height="200" width="200" [src]="data">
            </div>

        </div>
    </div>
    <div id="pdf1" style="height:1500px;clear:both">
    </div>



    <app-form-modify-car *ngIf="isVisible" [isVisible]='isVisible' [car]="car" [form]='form' (outer)="getCar()"
        [mater]="materialId" (outer1)="getshow($event)"></app-form-modify-car>
    <nz-modal [(nzVisible)]="isVisibless" nzTitle="警告" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

        <nz-alert nzType="warning" nzMessage="是否确认导出所有应用案例?" nzShowIcon></nz-alert>

    </nz-modal>

    <nz-modal [(nzVisible)]="isVisiblessde" nzTitle="警告" (nzOnCancel)="handleCancelde()" (nzOnOk)="handleOkde()">

        <nz-alert nzType="warning" nzMessage="是否确认删除此车型?" nzShowIcon></nz-alert>

    </nz-modal>
</div>