.apply-box {}

.apply-button-red {
  background-color: #ffa4a4;
  border-color: #ffa4a4;
  margin-right: 15px;
  margin-bottom: 10px
}

.apply-button-green {
  background-color: #89e7b3;
  border-color: #89e7b3;
  margin-right: 15px;
}

.apply-button-yellow {
  background-color: #FFBA00;
  border-color: #FFBA00;
}

.apply-box h2 {
  font-size: 16px;
}

p {
  margin-bottom: 30px
}

.all-box {
  margin-left: -40px;
  overflow: hidden;
  clear: both;
}

.all-item {
  width: 320px;
  margin-right: 30px;
  float: left;
}

.all-box .all-item {
  width: 200px;
  margin: 0 0 30px 40px;
  float: left;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.all-box .all-item h2 {
  color: #000;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.all-box .all-item .img {
  width: 200px;
  height: 200px;
}

a {
  clear: both;
  display: block;
  margin-top: 30px;
  width: 40px
}

nz-alert /deep/ div {
  background-color: white;
  border: none;
}
