<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table1"  nzBordered>
    <thead >
      <tr>
        <th  class="one" nzWidth="200px" *ngFor="let data of table[0].one">{{data}}</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td  class="one1" *ngFor="let data of table[0].key">{{trialDataDetailss[0]?trialDataDetailss[0][data]:''}}</td>
      </tr>
    </tbody>
</nz-table><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table2"  nzTitle="镀层重量" nzBordered>
        <thead>
          <tr>
            <th nzWidth="200px" class="one" *ngFor="let data of table[1].one">{{data}}</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td class="one1"  *ngFor="let data1 of table[1].key">{{ data[data1] }}</td>
          </tr>
        </tbody>
      </nz-table><br><br><br>
      <nz-table  [nzData]=[{}] [nzFrontPagination]="false" nzTitle="镀层粗糙度"  nzBordered id="table3">
        <thead>
          <tr>
            <th colspan="2"  class="one" *ngFor="let data1 of table[2].one" nzWidth="200px">{{data1}}</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetails" >
            <td class="one1" *ngFor="let data1 of table[2].key">{{ data[data1] }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>
