<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabless"  nzBordered>
    <thead >
      <tr>
        <th  id="head" nzWidth="200px">执行标准</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td id="he">{{trialDataDetailss[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br><br><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">面积（m2）</th>
            <th nzWidth="150px" id="head">初始重量（g）</th>
            <th nzWidth="150px" id="head">试验后重量（g）</th>
            <th nzWidth="150px" id="head">膜重（g/mm2）</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.area }}</td>
            <td id="he">{{ data.originalWeight }}</td>
            <td id="he">{{ data.afterWeight }}</td>
            <td id="he">{{ data.membraneWeight }}</td>
          </tr>
        </tbody>
      </nz-table><br><br><br>
      <nz-table  [nzData]=[{}] [nzFrontPagination]="false"  nzBordered id="tabletwo">
        <thead>
          <tr>
            <th colspan="2"  id="head">Ra（μm）</th>
            <th colspan="2"  id="head">RPC（个/cm）</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetails" >
            <td id="he">{{ data.raOne }}</td>
            <td id="he">{{ data.raTwo }}</td>
            <td id="he">{{ data.rpcOne }}</td>
            <td id="he">{{ data.rpcTwo }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>
