<div id="dataTable">
    <nz-table [nzData]='trialDataDetailss' [nzFrontPagination]="false" class="mt25 layout-fixed" nzBordered [nzScroll]="{ x: '1600px' }">
        <thead>
            <tr>
                <th [nzWidth]="thIdx == 0||thIdx == 1||thIdx ==2?'110px':'200px'" *ngFor="let data of table[0].one;let thIdx = index">
                    {{data}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of trialDataDetailss.slice(0,1)">
                <td *ngFor="let data of table[0].key;let tdIdx = index" [class]="tdIdx == activeTdIdx ?tableCellCls :'ellipsis'" (click)="clickItem(tdIdx)">
                    {{detail[data]}}</td>
            </tr>
        </tbody>
    </nz-table>
    <!-- 镀层重量 START -->
    <nz-table [nzData]='trialDataDetail' [nzFrontPagination]="false" class="mt25" nzTitle="镀层重量" nzBordered>
        <thead>
            <tr>
                <th nzWidth="200px" *ngFor="let data of table[1].one">{{data}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of trialDataDetail">
                <td *ngFor="let data1 of table[1].key">{{ data[data1] }}</td>
            </tr>
        </tbody>
    </nz-table>
    <!-- 镀层重量 END -->
    <!-- 粗糙度和峰值密度 START -->
    <nz-table [nzData]="trialDataDetails" [nzFrontPagination]="false" nzBordered class="mt25" [nzWidthConfig]="widthConfig" [nzScroll]="{ x: '1360px' }">
        <thead>
            <tr>
                <th colspan="2" rowspan="2" *ngFor="let data1 of table[2].one;let i=index">{{data1}}</th>
                <th [attr.colspan]="two[i]" *ngFor="let data2 of three;let i=index">{{data2}}</th>
            </tr>
            <tr>
                <th [attr.colspan]="trialDataDetails.length">{{trialDataDetails[0]?.raRequirement}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">上表</td>
                <td>粗糙度Ra/μm</td>
                <td *ngFor="let data of aboveRoughness">{{data}}</td>
            </tr>
            <tr>
                <td>峰值密度RPc个 /cm</td>
                <td *ngFor="let data of abovePeakDensity">{{data}}</td>
            </tr>
            <tr>
                <td rowspan="2">下表</td>
                <td>粗糙度Ra/μm</td>
                <td *ngFor="let data of belowRoughness">{{data}}</td>
            </tr>
            <tr>
                <td>峰值密度RPc个 /cm</td>
                <td *ngFor="let data of belowPeakDensity">{{data}}</td>
            </tr>
        </tbody>
    </nz-table>
    <!-- 粗糙度和峰值密度 END -->
    <!-- 公称厚度 START  -->
    <nz-table [nzData]='trialDataDetailsss' [nzFrontPagination]="false" nzBordered [nzWidthConfig]="widthConfig1" class="mt25">
        <thead>
            <tr>
                <th rowspan="2">公称厚度</th>
                <th [attr.colspan]="trialDataDetailsss.length">{{trialDataDetailsss[0]?.sizeRequirement}}</th>
            </tr>
            <tr>
                <th *ngFor="let data of trialDataDetailsss">
                    {{data?.testCode}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>距边部40mm</td>
                <td *ngFor="let data of edgeThickness1">{{data}}</td>
            </tr>
            <tr>
                <td>距左边部1/4</td>
                <td *ngFor="let data of edgeThickness2">{{data}}</td>
            </tr>
            <tr>
                <td>板宽1/2</td>
                <td *ngFor="let data of edgeThickness3">{{data}}</td>
            </tr>
        </tbody>
    </nz-table>

</div>