<nz-modal [(nzVisible)]="isVisible" nzTitle="添加车型信息" [nzFooter]=null nzMaskClosable=false (nzOnCancel)="handleCancel()">
    <form nz-form [formGroup]="profileForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="vehicleType">车型名称</nz-form-label>
            <nz-form-control nzErrorTip="请输入车型名称" [nzSm]="14" [nzXs]="24">
                <input formControlName="vehicleType" nz-input placeholder="车型名称" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="breif">简况</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea rows="4" nz-input formControlName="breif"></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="suppliedPart">供货零件名称</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea rows="4" nz-input formControlName="suppliedPart"></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="requirement">要求</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea rows="4" nz-input formControlName="requirement"></textarea>
            </nz-form-control>
        </nz-form-item>
        <div nz-row class="upload-form">
            <div nz-col nzSpan="6" class="upload-label">上传图片:</div>
            <div nz-col nzSpan="18" class="upload-list">
                <app-upload [url]='maUrl' [buttonName]="'上传图片'" [type]="'photo'" [disabled]='submitFail' [hz]="['image/jpeg','image/png']" [error]="'只能上传JPG和PNG'"></app-upload>
            </div>

        </div>
        <div nz-row class="upload-form">
            <div nz-col nzSpan="6" class="upload-label">上传文件:</div>
            <div nz-col nzSpan="18" class="upload-list">
                <app-upload [url]='maUrl1' [buttonName]="'上传文件'" [type]="'document'" [disabled]='submitFail' [hz]="['application/pdf']" [error]="'只能上传pdf'"></app-upload>
            </div>
        </div>
        <nz-form-item>
            <nz-form-control [nzOffset]="4" [nzSpan]="10">
                <button nz-button nzType="primary">提交</button>
                <button nz-button (click)="resetForm($event)" style="margin-left:20px" type="button">重置</button>
            </nz-form-control>
        </nz-form-item>




    </form>





</nz-modal>