nz-upload {}

.upload-list /deep/ .ant-upload-list-item {
  width: 50%;
  float: left;

}

nz-upload /deep/.ant-upload-list-item-info {
  width: 100%;
}

.upload-form {
  margin-bottom: 30px;
}

.upload-form .upload-label {
  text-align: right;
  line-height: 30px;
  padding-right: 5px;
  color: #333;
}
