<ul nz-menu nzMode="horizontal">

    <li nz-menu-item nzSelected style="margin-left:15%;">
        <a [routerLink]="['/display', materialId, 'static-tension-home','table']">数据表</a> 
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/display', materialId, 'static-tension-home','picture']">数据图</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/display-home', materialId, 'display-report']">报告</a>
    </li>
    <li nz-menu-item>
        <a [routerLink]="['/display-home', materialId, 'display-typical-part']">典型零部件</a>
    </li>
    
</ul>
