<div id="dataTable">
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" nzBordered id="table">
        <thead>
          <tr>
            <th nzWidth="150px" id="head">元素名称</th>
            <th nzWidth="150px" id="head">含量</th>
            <th nzWidth="130px" id="head">执行标准</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.name }}</td>
            <td id="he">{{ data.contentRatio }}</td>
            <td id="he">{{ data.standard}}</td>
          </tr>
        </tbody>
      </nz-table>
</div>

