<app-form-trial-details [materialId]="materialId" [trialType]="trialType"></app-form-trial-details>

<div class="menu-table">
    <div class="left-menu">
        <ul nz-menu nzMode="inline">
            <li>
                <div style="height:18px ;"></div>
                <div class="titlee"> <a routerLink='/material-trial'>实验项目</a> </div>
                <nz-divider></nz-divider>
            </li>
            <li nz-submenu nzTitle="理化性能" nzOpen="true">
                <ul *ngFor="let item of pacpList">
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,item.trialType]" (click)="GiveParams(item.trialType)">{{item.name}}</a></li>
                </ul>
            </li>
            <li nz-submenu nzTitle="工艺性能">
                <ul *ngFor="let item of processingList">
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,item.trialType]" (click)="GiveParams(item.trialType)">{{item.name}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="table-border">
        <table class="listOfData">
            <thead>
                <tr class="tr1">
                    <td>材料牌号</td>
                    <td>厚度</td>
                    <td>生产厂家</td>
                    <td>执行标准</td>
                    <td>送样日期</td>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let data of listOfData">
                    <td>{{ data.trademark }}</td>
                    <td>{{ data.thickness}}</td>
                    <td>{{data.manufacturer}}</td>
                    <td>{{data.standard}}</td>
                    <td>{{data.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>