body {
    font-family: "Microsoft YaHei", Arial, Verdana;
}


/* .menu-table {
    position: absolute;
    left: -90px;
    top: 30px;
} */

[nz-menu] {
    width: 100%;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 6px;
}

.title {
    font-size: 22px;
    text-align: center;
    color: #222;
    line-height: 45px;
    padding-top: 20px;
}
.left-menu {
    position: relative;
    width:220px;
    top: 60px;
    color: rgb(138, 134, 134);
    background-color: #fafafa;
    border-right:1px solid #e6e6e6;
    
}
::ng-deep .ant-menu,::ng-deep .ant-menu-submenu>.ant-menu{
    background-color: #fafafa;
    border:none !important;
    
}
::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #fff;
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
}
::ng-deep .ant-menu-inline .ant-menu-item-selected::after{
    left:0;
    right:auto;

}
nz-upload {
    float: left;
    margin-left: 20px;
    position: relative;
    top: -60px;
    left: 210px
}