<!-- <app-form-trial-details [materialId]="materialId" [trialType]="trialType"></app-form-trial-details> -->

<div class="menu-table">
    <div class="left-menu">
        <ul nz-menu nzMode="inline">
            <li>
                <div style="height:18px ;"></div>
                <div class="titlee"> <a routerLink='/material-trial'>实验项目</a> </div>
                <nz-divider></nz-divider>
            </li>
            <li nz-submenu nzTitle="理化性能" nzOpen="true">
                <ul >
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'static-tension-home']">静态拉伸</a></li>.
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">弯曲</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">压缩</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">高速拉伸</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">低周疲劳</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">高周疲劳</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">金相</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">物理性能</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">化学成分</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">禁用物质</a></li>
                </ul>
            </li>
            <li nz-submenu nzTitle="工艺性能">
                <ul>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">抗凹性能</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">二次加工脆性</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">翻遍扣合性能</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">氢致延迟开裂</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">焊接性能</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">胶结性能</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">涂装性能</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">成型极限FLD</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">回弹性能</a></li>
                    <li nz-menu-item><a [routerLink]="['/display',materialId ,'bending']">烘烤硬化</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
</div>

