<div id="dataTable">
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" nzBordered class="mt25">
        <thead>
            <tr>
                <th nzWidth="200px" *ngFor="let data of table[0].one">
                    {{data}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let data of table[0].key">
                    {{trialDataDetail[0]?trialDataDetail[0][data]:''}}
                </td>
            </tr>
        </tbody>
    </nz-table>

    <nz-table [nzData]=[{}] [nzFrontPagination]="false" class="tablebox mt25" nzBordered [nzScroll]="{ y: '700px' }">
        <thead>
            <tr>
                <th class="one" nzWidth="120px">样件编号</th>
                <th class="one" nzWidth="90px" *ngFor="let data of ys,let i = index">
                    <span nz-tooltip [nzTooltipTitle]=" titleTemplate">{{data}}</span>
                    <ng-template #titleTemplate>

                        <a (click)="contrastTable(data)">对比</a>
                    </ng-template>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td nzBreakWord class="one1">要求值</td>
                <td nzBreakWord class="one1" *ngFor="let detail1 of arr3">{{detail1}}</td>
            </tr>
            <tr *ngFor="let detail of last;let i=index">
                <td nzBreakWord class="one1">{{bh[i]}}</td>
                <td nzBreakWord class="one1" *ngFor="let detail1 of detail">{{detail1?.contentRatio}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>

<nz-modal [(nzVisible)]="isVisible"  nzTitle="对比"  (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">

    <div echarts [options]="options" class="echarts-box"></div>
</nz-modal>