<div id="dataTable">
    <nz-table>
        <thead>
          <tr>
            <th>样件编号</th>
            <th>抗弯强度</th>
            <th>规定非比例弯曲强度</th>
            <th>弯曲弹性模量</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of trialDataDetail" >
            <td>{{ data.sampleCode }}</td>
            <td>{{ data.bendingStrength }}</td>
            <td>{{ data.nonProportionalBendingStrenth }}</td>
            <td>{{ data.bendingOfElasticity }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>
