<div id="dataTable">
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tableone" nzBordered>
      <tbody id="head">
        <tr>
            <td >试验类型</td>
            <td *ngFor="let data of trialDataDetail" >{{ data.punchFilletRadius }}</td>
        </tr>
        <tr >
            <td>弯曲角度</td>
            <td *ngFor="let data of trialDataDetail">{{ data.bendingAngleRange }}</td>
        </tr>
        <tr >
            <td>凸模圆角半径R</td>
            <td *ngFor="let data of trialDataDetail">{{ data.punchFilletRadiusRange}}</td>
        </tr>
        <tr >
            <td>试样尺寸</td>
            <td *ngFor="let data of trialDataDetail">{{ data.sampleSize }}</td>
        </tr>
        <tr>
            <td>试验速度</td>
            <td *ngFor="let data of trialDataDetail">{{ data.testSpeed }}</td>
        </tr>
        <tr>
            <td>保持压力</td>
            <td *ngFor="let data of trialDataDetail">{{ data.holdStress }}</td>
        </tr>
        <tr >
            <td>保持时间</td>
            <td *ngFor="let data of trialDataDetail">{{ data.holdTimes}}</td>
        </tr></tbody>
    </nz-table><br><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabletwo" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">凸模圆角半径R（mm）</th>
            <th nzWidth="150px" id="head">弯曲角度（°）</th>
            <th nzWidth="150px" id="head">回弹角度（°）</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetails" >
            <td>{{ data.punchFilletRadius }}</td>
            <td>{{ data.bendingAngle }}</td>
            <td>{{ data.reboundAngle }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>

