<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabless"  nzBordered>
    <thead >
      <tr>
        <th  id="head" nzWidth="200px">执行标准</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td id="he">{{trialDataDetail[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br><br><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">试验名称</th>
            <th nzWidth="150px" id="head">试验设备</th>
            <th nzWidth="150px" id="head">溶液类别</th>
            <th nzWidth="150px" id="head">试验时间</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.testName }}</td>
            <td id="he">{{ data.device }}</td>
            <td id="he">{{ data.liquorType }}</td>
            <td id="he">{{ data.date }}</td>
          </tr>
        </tbody>
      </nz-table><br><br><br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" nzBordered id="tableone">
        <thead>
          <tr>
            <th nzWidth="150px" id="head">应力（MPa）</th>
            <th nzWidth="150px" id="head">开裂时间（h）</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetails" >
            <td id="he">{{ data.stress }}</td>
            <td id="he">{{ data.hour }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>
