<div id="dataTable">
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">试验名称</th>
            <th nzWidth="150px" id="head">试验设备</th>
            <th nzWidth="150px" id="head">溶液类别</th>
            <th nzWidth="150px" id="head">试验时间</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetail" >
            <td>{{ data.testName }}</td>
            <td>{{ data.device }}</td>
            <td>{{ data.liquorType }}</td>
            <td>{{ data.date }}</td>
          </tr>
        </tbody>
      </nz-table><br><br><br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" nzBordered id="tableone">
        <thead>
          <tr>
            <th nzWidth="150px" id="head">应力（MPa）</th>
            <th nzWidth="150px" id="head">开裂时间（h）</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetails" >
            <td>{{ data.stress }}</td>
            <td>{{ data.hour }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>
