<div class="info-box" *ngFor="let data of baseInfo">
    <div class="title">材料牌号{{ data.name }}</div>
    <div class="detail">
        <span>卷号：{{ data.reelNumber}}</span>
        <span>型号规格(mm)：{{ data.model}}</span>
        <span>生产厂家：{{ data.manufactoryName}}</span>
        <span>材料标准：{{ data.materialStandard}}</span>
        <!-- <span>检测日期{{ data.date}}</span> -->
    </div>
</div>
<!-- <div class="table-border">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabletwo">
    <thead>
      <tr>
        <th id="one">材料牌号</th>
        <th class="he">卷号</th>
        <th class="he">型号规格(mm)</th>
        <th class="he">生产厂家</th>
        <th id="two">材料标准</th>
         <th   id="two">检测日期</th>
</tr>
</thead>
<tbody>
  <tr *ngFor="let data of baseInfo">
    <td id="three">{{ data.name }}</td>
    <td class="he1">{{ data.reelNumber}}</td>
    <td class="he1">{{ data.model}}</td>
    <td class="he1">{{ data.manufactoryName}}</td>
    <td id="for">{{ data.materialStandard}}</td>
    <td id="for">{{ data.date}}</td> 
</tr>
</tbody>
</nz-table>
</div> -->