.table-border {
    height: 70px;
    width: 704px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 6px;
    position: absolute;
    left: 30%;
    top: 30px;
}

table {
    color: rgb(138, 134, 134);
    background-color: #ffffff;
    width: 700px;
    font-size: 14px;
    font-family: "Microsoft YaHei", Arial, Verdana;
    line-height: 30px;
    text-align: center;
    border-collapse: collapse;

}


.tr1 {
    border-bottom: 1px solid rgb(225, 225, 225);
}
#head{width:200px}