<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-control nzErrorTip="用户名不能为空">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="userName" placeholder="请输入账号" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="密码不能为空">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="请输入密码" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="验证码不能为空">

            <nz-input-group class="login-code">
                <input type="text" nz-input formControlName="code" placeholder="请输入验证码" />
            </nz-input-group>
            <div class="code-image">
                <img [src]="codeUrl" (click)='getCode()' width="100%" height="46">
            </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <label nz-checkbox formControlName="remember">
                <span>记住密码</span>
            </label>
        </nz-form-control>
    </nz-form-item>

    <button nz-button [nzType]="primary" class="login-button">
        <span *ngIf='!loading;else elseBlockone'>登录</span>
        <ng-template #elseBlockone>
            <span>登录中...</span>
        </ng-template>        
    </button>

</form>