<app-children-nav [p1]=p1 [p2]=p2 [p3]=p3 [p4]=p4>
</app-children-nav>
<app-base-info [materialId]="materialId"></app-base-info>
<!-- <button nz-button nzType="primary" (click)="deleteTrial()" *ngIf='button("HGdelTestItem")'>
  删除{{currentInfo[0].names}}</button> -->
<!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="删除试验" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <p>是否删除{{currentInfo[0].names}}</p>

</nz-modal> -->
<a nz-popconfirm [nzPopconfirmTitle]="title" nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm()">
    <button nz-button nzType="primary" *ngIf='button("HGdelTestItem")'>
    删除{{currentInfo[0].names}}</button>
</a>
<router-outlet></router-outlet>