<div class="details">
    <div id="c"><h1>金相组织</h1>
    <img class="img" [src]="ImgPathOne" alt="" height="400" width="400">  &nbsp;  &nbsp;
    <br>
    <br>
    </div>
  
    <div id="c">
    <h1>非金属夹杂</h1>
    <img class="img" [src]="ImgPathTwo" alt="" height="400" width="400">  &nbsp;  &nbsp;
    <br>
    <br>
</div> <div id="c">
    <h1>晶粒度</h1>
    <img class="img" [src]="ImgPathThree" alt="" height="400" width="400">  &nbsp;  &nbsp;
    <br>
    <br></div> <div id="c">
    <h1>脱碳层深度</h1>
    <img class="img" [src]="ImgPathFour" alt="" height="400" width="400">  &nbsp;  &nbsp;
    <br>
    <br>
</div>
</div>
