<div class="details">
    <div id="c"><h1>金相组织</h1>
    <img class="img" [src]="ImgPathOne" alt="" height="400" width="400">  &nbsp;  &nbsp;
    <br>
    <br>
    </div>
  
    <div id="c">
    <h1>非金属夹杂</h1>
    <img class="img" [src]="ImgPathTwo" alt="" height="400" width="400">  &nbsp;  &nbsp;
    <br>
    <br>
</div> <div id="c">
    <h1>晶粒度</h1>
    <img class="img" [src]="ImgPathThree" alt="" height="400" width="400">  &nbsp;  &nbsp;
    <br>
    <br></div> <div id="c">
    <h1>脱碳层深度</h1>
    <img class="img" [src]="ImgPathFour" alt="" height="400" width="400">  &nbsp;  &nbsp;
    <br>
    <br>
</div>
</div>
<div id="dataImport">
    <button nz-button nzType="primary" (click)="open()" id="drawerBtn">添加数据</button>
    <nz-drawer
      [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
      [nzWidth]="350"
      [nzVisible]="visible"
      nzTitle="添加试验数据"
      (nzOnClose)="close()"
  
    >
      <form nz-form>
        
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="17">
            <nz-form-item>
                <nz-form-label>金相组织</nz-form-label>
                <nz-form-control>
                    <nz-upload [nzAction]="img1"  [nzCustomRequest]="customReqone" [nzName]=structurePhoto nzListType="picture">
                        <button nz-button type="button"><i nz-icon nzType="upload"></i><span>上传</span></button>
                    </nz-upload>
                </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="17">
              <nz-form-item>
                  <nz-form-label>非金属夹杂</nz-form-label>
                  <nz-form-control>
                    <nz-upload [nzAction]="img1" nzListType="picture" nzName="nonMetallicInclusionLevelPhoto" [nzCustomRequest]="customReqtwo" >
                        <button nz-button type="button"><i nz-icon nzType="upload"></i><span>上传</span></button>
                    </nz-upload>
                  </nz-form-control>
              </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="17">
              <nz-form-item>
                  <nz-form-label>晶粒度</nz-form-label>
                  <nz-form-control>
                    <nz-upload [nzAction]="img1" nzListType="picture" nzName="grainSizePhoto" [nzCustomRequest]="customReqthree" >
                        <button nz-button type="button"><i nz-icon nzType="upload"></i><span>上传</span></button>
                    </nz-upload>
                  </nz-form-control>
              </nz-form-item>
          </div>
        </div>
    <div nz-row nzGutter="8">
        <div nz-col nzSpan="17">
            <nz-form-item>
                <nz-form-label>脱碳层深度</nz-form-label>
                <nz-form-control>
                    <nz-upload [nzAction]="img1" nzListType="picture" nzName="depthDecarburizationPhoto" [nzCustomRequest]="customReqfor" >
                        <button nz-button type="button"><i nz-icon nzType="upload"></i><span>上传</span></button>
                    </nz-upload>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
      </form>
      <div class="footer">
        <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>取消</span></button>
        <button type="button" (click)="close()" class="ant-btn ant-btn-primary"><span>添加</span></button>
      </div>
    </nz-drawer>
</div>  
