/* #search-part{
    background-image: url('../../assets/images/material-firstpage-search-background.png') ;
    background-size: cover;
    height:100px;
    background-position:top;
    padding-top:40px
} */

.search-box{
    width: 300px;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
} 
/* #search-box{
    width: 400px;
    display:inline-block;
    
    margin-left: 20px;
    
} */