<div class="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" class="mt25" nzBordered>
    <thead>
      <tr>
        <th  nzWidth="200px" *ngFor="let data1 of table1">{{data1}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let data5 of table5">{{trialDataDetail[0]?trialDataDetail[0][data5]:''}}</td>
      </tr>
    </tbody>
  </nz-table>

  <nz-table [nzData]=[{}] [nzFrontPagination]="false" nzBordered class="mt25">
    <thead>
      <tr>
        <th [nzWidth]="table4[i]" *ngFor="let data2 of table2;let i=index">{{data2}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of trialDataDetail">
        <td *ngFor="let data3 of table3">{{ detail[data3] }}</td>
      </tr>
    </tbody>
  </nz-table>

</div>