.dataTable thead th {
    text-align: center;
    background-color:#f4f4f4;
    color: #666;
    padding: 8px 0;
}

.dataTable tbody td{
    text-align: center;
    padding: 8px 0;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: #fff;
}


/* 抽屉按钮 */

#drawerBtn {
    position: absolute;
    top: 50px;
    left: 90%;
}

.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background: white;
}