<div id="dataTable" >
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabless"  nzBordered>
    <thead >
      <tr>
        <th  id="head" nzWidth="200px">执行标准</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td id="he">{{trialDataDetail[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br><br><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">金相组织</th>
            <th nzWidth="150px" id="head">非金属夹杂（级）</th>
            <th nzWidth="150px" id="head">晶粒度（级）</th>
            <th nzWidth="150px" id="head">脱碳层深度（mm)</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.structure }}</td>
            <td  id="he">{{ data.nonMetallicInclusionLevel }}</td>
            <td id="he">{{ data.grainSize}}</td>
            <td id="he">{{ data.depthDecarburization }}</td>
          </tr>
        </tbody>        
      </nz-table> 
</div>
