<div id="dataTable" >
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabless"  nzBordered>
    <thead >
      <tr>
        <th  id="head" nzWidth="200px">执行标准</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td id="he">{{trialDataDetail[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br><br><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table" nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">金相组织</th>
            <th nzWidth="150px" id="head">非金属夹杂（级）</th>
            <th nzWidth="150px" id="head">晶粒度（级）</th>
            <th nzWidth="150px" id="head">脱碳层深度（mm)</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of trialDataDetail" >
            <td id="he">{{ data.structure }}</td>
            <td  id="he">{{ data.nonMetallicInclusionLevel }}</td>
            <td id="he">{{ data.grainSize}}</td>
            <td id="he">{{ data.depthDecarburization }}</td>
          </tr>
        </tbody>        
      </nz-table> 
</div>
<div id="dataImport">
  <button nz-button nzType="primary" (click)="open()" id="drawerBtn">添加数据</button>
  <nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzWidth]="350"
    [nzVisible]="visible"
    nzTitle="添加试验数据"
    (nzOnClose)="close()"

  >
    <form nz-form>
      <div nz-row nzGutter="8">
        <div nz-col nzSpan="17">
          <nz-form-item>
            <nz-form-label>执行标准</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]='postParams.standard' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="8">
        <div nz-col nzSpan="17">
          <nz-form-item>
              <nz-form-label>金相组织</nz-form-label>
              <nz-form-control>
                <input [(ngModel)]='postParams.structure' [ngModelOptions]="{standalone: true}" nz-input placeholder="please enter " />
              </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="8">
        <div nz-col nzSpan="17">
            <nz-form-item>
                <nz-form-label>非金属夹杂</nz-form-label>
                <nz-form-control>
                  <input nz-input [(ngModel)]='postParams.nonMetalliclnclusionLevel' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                </nz-form-control>
            </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="8">
        <div nz-col nzSpan="17">
            <nz-form-item>
                <nz-form-label>晶粒度</nz-form-label>
                <nz-form-control>
                  <input nz-input [(ngModel)]='postParams.grainSize' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
                </nz-form-control>
            </nz-form-item>
        </div>
      </div>
  <div nz-row nzGutter="8">
      <div nz-col nzSpan="17">
          <nz-form-item>
              <nz-form-label>脱碳层深度</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]='postParams.depthDecarburization' [ngModelOptions]="{standalone: true}" placeholder="please enter " />
              </nz-form-control>
          </nz-form-item>
      </div>
  </div>
    </form>
    <div class="footer">
      <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>取消</span></button>
      <button type="button" (click)="PostTrialDataDetails();close()" class="ant-btn ant-btn-primary"><span>添加</span></button>
    </div>
  </nz-drawer>

</div>
