<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tables"  nzBordered>
    <thead >
      <tr>
        <th nzWidth="130px" id="head">执行标准</th>
      </tr>
    </thead>
    <tbody id="head">
      <tr >
        <td>{{ trialDataDetail[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="dataTabless"  nzBordered>
        <thead>
          <tr>
            <th id="head">BH值</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetail" >
            <td>{{ data.bh }}</td>
          </tr>
        </tbody>
      </nz-table><br><br><br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="table"  nzBordered>
        <thead>
          <tr>
            <th nzWidth="150px" id="head">烘烤温度及时间</th>
            <th nzWidth="150px" id="head">Rt2.0(MPa)</th>
            <th nzWidth="150px" id="head">Rp0.2(MPa)</th>
            <th nzWidth="150px" id="head">Rm(MPa)</th>
            <th nzWidth="150px" id="head">BH2(MPa)</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetails" >
            <td>{{ data.temperatureTimes }}</td>
            <td>{{ data.rt }}</td>
            <td>{{ data.rp }}</td>
            <td>{{ data.rm }}</td>
            <td>{{ data.bH2 }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>

