#dataTable{
    position: absolute;
    left:30%;
    top: 160px;
    width: auto;
    
}
#head{
    text-align:center;
}
#tableone{
    width:300px
}
#tabletwo{
    width:480px
}
#tablethree{
    width:360px
}
#tablefor{
    width:360px
}
#tablefive{
    width:100px
}
#tablesix{
    width:600px
}
#tableseven{
    width:130px
}
#tabless{width:200px}