<div class="dataTable">
    <nz-table class="mt25 layout-fixed" [nzData]='this[data.name]' [nzFrontPagination]="false" *ngFor="let data of table.slice(0,4);let tableIdx=index" [nzLoading]="data.loading" nzBordered>
        <thead>
            <tr>
                <th [nzWidth]="data.width[thIdx]" *ngFor="let data1 of data.one;let thIdx=index">{{data1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data2 of this[data.name]">
                <td *ngFor="let data3 of data.key;let tdIdx = index" [class]="tableIdx==0 && tdIdx == activeTdIdx ?tableCellCls :(tableIdx==0?'ellipsis':'')" (click)="clickItem(tableIdx==0,tdIdx)">{{ data2[data3]}}</td>
            </tr>
        </tbody>
    </nz-table>
    <nz-table class="mt25" [nzData]="this[data.name]" [nzFrontPagination]="false" [nzWidthConfig]="data.width" [nzTitle]="data.title" *ngFor="let data of table.slice(4,8)" [nzLoading]="data.loading" nzBordered>
        <thead>
            <tr>
                <th colspan="3" *ngFor="let data1 of data.one">{{data1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data2 of this[data.name]">
                <td *ngFor="let data3 of data.key">{{ data2[data3] }}</td>
            </tr>
        </tbody>
    </nz-table>
    <nz-table class="mt25" [nzData]='this[data.name]' [nzFrontPagination]="false" *ngFor="let data of table.slice(8)" [nzTitle]="data.title" [nzLoading]="data.loading" nzBordered>
        <tbody>
            <tr>
                <td nzWidth="150px" *ngFor="let data1 of this[data.name]">{{ data1[data.key] }}</td>
            </tr>
        </tbody>
    </nz-table>
</div>