<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabless"  nzBordered>
    <thead >
      <tr>
        <th nzWidth="130px" id="head">执行标准</th>
      </tr>
    </thead>
    <tbody id="head">
      <tr >
        <td>{{ trialDataDetail[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tableone" nzBordered>
        <thead>
          <tr>
            <th  nzWidth="150px" id="head">磷化膜结晶尺寸</th>
            <th nzWidth="150px" id="head">磷化膜覆盖率</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetail" >
            <td>{{ data.sizeText }}</td>
            <td>{{ data.coverRatio }}</td>
          </tr>
        </tbody>        
      </nz-table> <br> <br> <br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabletwo" nzBordered>
        <thead>
          <tr>
            <th nzWidth="120px" id="head">面积（m2）</th>
            <th nzWidth="120px" id="head">初始重量（g）</th>
            <th nzWidth="120px" id="head">试验后重量（g）</th>
            <th nzWidth="120px" id="head">膜重（g/m2）</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetails" >
            <td>{{ data.area }}</td>
            <td>{{ data.originalWeight }}</td>
            <td>{{ data.afterWeight }}</td>
            <td>{{ data.membraneWeight }}</td>
          </tr>
        </tbody>        
      </nz-table> <br> <br> <br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tablethree" nzBordered>
        <thead>
          <tr>
            <th nzWidth="120px" id="head">Ip（s-1）</th>
            <th nzWidth="120px" id="head">IH（s-1）</th>
            <th nzWidth="120px" id="head">P比</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetailss" >
            <td>{{ data.ip }}</td>
            <td>{{ data.ih }}</td>
            <td>{{ data.ratio }}</td>
          </tr>
        </tbody>        
      </nz-table> <br> <br> <br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tablefor" nzBordered>
        <thead>
          <tr>
            <th colspan="3"  id="head">电泳漆膜厚度（μm）</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr  *ngFor="let data of trialDataDetailsss">
            <td  >{{ data.pointThickOne  }}</td>
            <td >{{ data.pointThickTwo}}</td>
            <td >{{ data.pointThickThree }}</td>
          </tr>
        </tbody>        
      </nz-table> <br> <br> <br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tablefive" nzBordered>
        <thead>
          <tr>
            <th >电泳漆膜铅笔硬度</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr  *ngFor="let data of trialDataDetailssss" >
            <td>{{ data.pointHardness  }}</td>
          </tr>
        </tbody>        
      </nz-table><br> <br> <br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tablesix" nzBordered>
        <thead>
          <tr>
            <th colspan="3">Ra（μm）</th>
            <th colspan="3">Rz（μm）</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr  *ngFor="let data of trialDataDetailsssss" >
            <td>{{ data.raOne }}</td>
            <td>{{ data. raTwo  }}</td>
            <td>{{ data.raThree  }}</td>
            <td>{{ data.rzOne  }}</td>
            <td>{{ data.rzTwo  }}</td>
            <td>{{ data.rzThree  }}</td>
          </tr>
        </tbody>
      </nz-table><br><br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tableseven" nzBordered>
        <thead>
          <tr>
            <th id="head">抗石击性能</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetailssssss"  >
            <td>{{ data. pointStrength }}</td>
          </tr>
        </tbody>
      </nz-table><br><br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tablefor" nzBordered>
        <thead>
          <tr>
            <th colspan="3">附着力</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetailsssssss"   >
            <td>{{ data. pointAdhesionOne  }}</td>
            <td>{{ data. pointAdhesionTwo  }}</td>
            <td>{{ data. pointAdhesionThree }}</td>
          </tr>
        </tbody>
      </nz-table><br><br><br>
      <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tablefor" nzBordered>
        <thead>
          <tr>
            <th colspan="3">耐湿热性能</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetailssssssss"  >
            <td>{{ data. pointOne  }}</td>
            <td>{{ data. pointTwo }}</td>
            <td>{{ data. pointThree  }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>

