.dataTable thead th,::ng-deep .ant-table-title{
    background-color:#f4f4f4;
    color: #666;
    padding: 8px 0;
}
.dataTable thead th{
    text-align: center;
}
.dataTable tbody td{
    text-align: center;
    padding: 8px 0;
}
.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background: white;
}