.compare-box {
  padding: 30px 40px;
  background-color: #fff;
  margin-top: -40px;
  border-radius: 5px;
  overflow: hidden;

}

.compare-top {
  position: relative;
}

.compare-top .title {
  font-size: 22px;
  color: #222;
}

.add-button {
  position: absolute;
  top: 0;
  right: 0px;
  color: #0d95f0;
}

/* .add-button {
  border: 1px solid #e6e6e6;
  height: 130px;
  position: absolute;
  top: 0;
  right: -159px;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0d95f0;
}

.add-button .icon {
  display: block;
  margin-bottom: 10px;
} */
.nav-list {
  position: fixed;
  z-index: 999;
  right: 0px;
  top: 50%;
  margin-top: -150px;
  width: 120px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.compare-table {
  margin-top: 25px;
  display: inline-block;
  position: relative;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  border: 1px solid #e8e8e8;
}

.ed {
  float: right;
  padding-right: 8px;
}

.cd {
  float: right;
  padding-right: 20px;
}

#he {
  border-bottom: solid 1px grey;
  padding-bottom: 8px;
}

.compare-table /deep/ .ant-table-body {
  margin: -1px -1px 0 -1px;
}

.compare-table /deep/ .ant-table-tbody>tr>td,
.compare-table /deep/ .ant-table-thead>tr>th {
  padding: 16px 8px;
}

nz-table.vertical {
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}

nz-table.vertical th,
nz-table.vertical td {
  width: 160px;
  /* height: 4px; */
}

nz-table.vertical div {
  /* width: 100px; */
  -webkit-writing-mode: horizontal-tb;
  -moz-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
}

nz-table.vertical div.sta {
  width: 140px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  writing-mode: initial;
  position: relative;
  word-break: break-all;
  margin-top: 2px;
}

nz-table.borderedTable tr {
  width: 123px;
}

#info {
  height: 170px;
}

#hide1 {
  /* float: left; */
  color: blue;
}

#hide2 {
  /* float: left;
  margin-top: 13px;
  margin-bottom: 7px; */
  width: 110px;
}

#hide3 {
  /* float: left; */
  width: 140px;
}

#str {
  border-right: none;
  background-color: white;
}


/* #con /deep/ #str>span{
  position: absolute;
  left:15px;
} */

.cell {
  text-align: right;
  width: 173px;
  padding-right: 2px;
  height: 8px;
}

.sta {
  float: left;
  font-weight: bold;
}


/* 改antd table的默认样式，鼠标放在行上的背景颜色为白色 */

.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
  background: white;
}


/* .table {
  line-height: 8px;
  height: 8px;
} */

#i {
  position: absolute;
  top: 6px;
  right: 6px;
}

#posi {
  position: relative;
  top: 0px;
  right: 0px;
  -webkit-box-orient: vertical;
  display: block;
  padding: 16px 8px 8px 8px;
}



#xfk {
  width: 400px;
  height: 200px;
  border: 1px solid rgb(204, 203, 203);
  position: fixed;
  top: 100px;
  right: 100px;
  background-color: white;
  border-radius: 10px;
}

#tit {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid rgb(173, 173, 173);
}
