<div class="dataTable">
  <nz-table class="mt25" [nzData]=[{}] [nzFrontPagination]="false" id="{{data.table}}" [nzScroll]="data.nzScroll"
    *ngFor="let data of table;let tableIdx=index" nzBordered [class]="tableIdx==0?'layout-fixed mt25':'mt25'">
    <thead>
      <tr>
        <th [nzWidth]="data.width[i]" *ngFor="let data1 of data.one;let i=index">{{data1}}</th>
      </tr>
    </thead>
    <tbody *ngFor="let data2 of this[data.name]">
      <tr>
        <td [nzBreakWord]="tableIdx!==0" [class]="tableIdx==0 && tdIdx == activeTdIdx ?tableCellCls :'ellipsis'"
          (click)="clickItem(tableIdx==0,tdIdx)" *ngFor="let data3 of data.key;let tdIdx = index">
          {{ data2[data3]}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>