<div id="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" id="tabletwo"  nzBordered>
    <thead >
      <tr>
        <th nzWidth="130px" id="head">执行标准</th>
      </tr>
    </thead>
    <tbody id="head">
      <tr >
        <td>{{ trialDataDetail[0].standard}}</td>
      </tr>
    </tbody>
</nz-table><br><br>
    <nz-table [nzData]=[{}] [nzFrontPagination]="false"  nzBordered id="table">
        <thead>
          <tr>
            <th nzWidth="100px" id="head">次应变</th>
            <th nzWidth="100px" id="head">主应变</th>
          </tr>
        </thead>
        <tbody id="head">
          <tr *ngFor="let data of trialDataDetail" >
            <td>{{ data.secondaryStrain }}</td>
            <td>{{ data.mainStrain }}</td>
          </tr>
        </tbody>
      </nz-table>

</div>