<div id="dataTable">
    <table border="" cellpadding="10px">
          <tr >
            <th id="tr">维氏硬度（HV）</th>
            <td id="tr" *ngFor="let data of trialDataDetail">&nbsp;{{ data.hV}}</td>
          </tr>
          <tr >
            <th id="tr">布氏硬度（HV）</th>
            <td id="tr" *ngFor="let data of trialDataDetail">&nbsp;{{ data.hBW}}</td>
          </tr>
          <tr >
            <th id="tr">洛氏硬度（HV）</th>
            <td id="tr" *ngFor="let data of trialDataDetail">&nbsp;{{ data.hRC}}</td>
          </tr>  
          <tr >
            <th id="tr">密度ρ（g/cm3）</th>
            <td id="tr" *ngFor="let data of trialDataDetail">&nbsp;{{ data.density }}</td>
          </tr>  
          <tr >
            <th id="tr"> 电阻率ρ（Ω·m）</th>
            <td id="tr" *ngFor="let data of trialDataDetail">&nbsp;{{ data.resistivity}}</td>
          </tr>  
        </table> <br>
      <nz-table nzBordered>
        <thead>
          <tr>
            <th>温度（℃）</th>
            <th>热膨胀系数α（1/℃）</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of trialDataDetailss" >
            <td>{{ data.temperatureRange}}</td>
            <td>{{ data.thermalExpansion }}</td>
          </tr>
        </tbody>        
      </nz-table> 
      <nz-table >
        <thead>
          <tr>
            <th>温度（℃）</th>
            <th>导热系数λ（W/(cm゜C)）</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of trialDataDetails" >
            <td>{{ data.temperature}}</td>
            <td>{{ data.thermalConductivity }}</td>
          </tr>
        </tbody>        
      </nz-table> 
</div>
