#dataTable{
    position: absolute;
    left:30%;
    top: 160px;
    width: auto;
    
}

#head{
    text-align:center;
}
#table{
    width:750px
}
#tabletwo{
    width:370px
}
#tablethree{
    width:370px
}