<div class="dataTable">
  <nz-table [nzData]=[{}] [nzFrontPagination]="false" class="mt25" nzBordered
    *ngFor="let data of table">
    <thead>
      <tr>
        <th *ngFor="let data1 of data.one">{{data1}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let data2 of data.key">{{trialDataDetail[0]?trialDataDetail[0][data2]:''}}</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-table class="mt25" nzBordered [nzData]=[{}] [nzFrontPagination]="false" *ngFor="let data of table1">
    <thead>
      <tr>
        <th nzWidth="200px" *ngFor="let data1 of data.one">{{data1}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of this[data.table]">
        <td *ngFor="let data1 of data.key">{{ detail[data1]}}</td>
      </tr>
    </tbody>
  </nz-table> <br>

</div>