<div id="dataTable">
    <nz-table [nzData]='trialDataDetail' [nzFrontPagination]="false" class="mt25 layout-fixed" nzBordered *ngFor="let data of table.slice(0,2);let tableIdx = index" [nzLoading]="loading">
        <thead>
            <tr>
                <th [nzWidth]="tableIdx == 0 && thIdx==0||tableIdx == 0 && thIdx==1||tableIdx == 0 && thIdx==2?'120px':'auto'" *ngFor="let data1 of data.one;let thIdx = index">
                    {{data1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of trialDataDetail.slice(0,1)">
                <td [nzBreakWord]="tableIdx!==0"  *ngFor="let data2 of data.key;let tdIdx = index" [class]="tableIdx==0 && tdIdx == activeTdIdx?tableCellCls :'ellipsis'" (click)="clickItem(tableIdx==0,tdIdx)">{{detail[data2]}}</td>
            </tr>
        </tbody>
    </nz-table>
    <nz-table class="mt25" nzBordered [nzData]='this[data.table]' [nzFrontPagination]="false" *ngFor="let data of table.slice(2)" [nzLoading]="this[data.loading]">
        <thead>
            <tr>
                <th nzWidth="200px" *ngFor="let data1 of data.one">{{data1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of this[data.table]">
                <td *ngFor="let data1 of data.key">{{ detail[data1]}}</td>
            </tr>
        </tbody>
    </nz-table> <br>

</div>